body{
    background: linear-gradient(to top, #4CA1AF, #2C3E50);
    height: 100vh;
}

img{
    max-height: 182px;
    min-height: fit-content;
}

.box{
    background: rgba(225, 225, 255, .6);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
}

.card{
    padding: 0;
    max-height: fit-content;
}
.card-body{
    padding: 0.5rem 0.5rem 0;
}